<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Calendar</title>

        <!-- Bootstrap JS and CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

        <!-- FullCalendar JS and CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>

        <!-- DatePicker Links -->
        <!-- Font Awesome -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- Moment.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>
        <!-- DatePicker CSS and JS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Meal Planning</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'calendar_user:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </nav>

        <div class="row">
            <div class="col-sm-2">
                <div class="vertical-nav bg-white" id="sidebar">
                  <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                      <div class="media-body">
                        <h4 class="m-0">{{ user.username }}</h4>
                        <p class="font-weight-light text-muted mb-0">Lorem Ipsum</p>
                      </div>
                    </div>
                </div>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Recipe Book</p>

                  <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                      <a href="{% url 'calendar_user:index' %}" class="nav-link text-dark bg-light">Calendar</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'recipe_book:index' %}" class="nav-link text-dark  bg-light">Recipe Book</a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'grocery_list:index' %}" class="nav-link text-dark  bg-light">Grocery List</a>
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link text-dark bg-light">Settings</a>
                    </li>
                  </ul>
            </div>
        </div>
    <!-- End vertical navbar -->

        {# Pages that extend this file will have their content inserted in the below block #}
        <div class="col-sm-10">
        {% block content %}

        {% endblock %}
        </div>
        </div>

        <script>
          document.addEventListener('DOMContentLoaded', function() {
              var calendarEl = document.getElementById('calendar');
              var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                  selectable: true,
                dateClick: function() {
                    window.location.href = "{% url 'calendar_user:meal-create' %}";
                },
                customButtons: {
                    mealCreate: {
                        text: 'Schedule a Meal',
                        click: function() {
                            window.location.href = "{% url 'calendar_user:meal-create' %}";
                        }
                    }
                },
                headerToolbar: {
                  left: 'prev,next today mealCreate',
                  center: 'title',
                  right: 'dayGridMonth,timeGridWeek,timeGridDay',
                    },
                events: '{% url 'calendar_user:json-list' %}',
                  });
                  calendar.render();
                });

          /*
          // add the responsive classes after page initialization
          window.onload = function () {
              $('.fc-toolbar.fc-header-toolbar').addClass('row col-lg-12');
          };

          // add the responsive classes when navigating with calendar buttons
          $(document).on('click', '.fc-button', function(e) {
              $('.fc-toolbar.fc-header-toolbar').addClass('row col-lg-12');
          }); */
        </script>
    </body>
</html>