{% extends 'base-calendar.html' %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">Meal</div>
            <div class="card-body">
                <h1>Meal: {{ meal.title }}</h1>
                <h3>Date of the Meal: {{ meal.date }}</h3>
                {% if meal.notes %}
                    <p>{{ meal.notes }}</p>
                {% endif %}


                {% if meal.side_set %}
                    <table class="table table-responsive table-hover">
                        <thead>
                            <th>Side</th>
                        </thead>
                    {% for side in meal.side_set.all %}
                        <tr>
                            <td>{{ side }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'calendar:meal-update' meal.pk%}">Edit This Recipe</a>
                <a class="btn btn-danger" href="{% url 'calendar:index' %}">Back to the Calendar</a>
            </div>
        </div>
    </div>
{% endblock %}