{% extends 'base-calendar_user.html' %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">Meal</div>
            <div class="card-body">
                <h1>Meal: {{ meal.title }}</h1>
                <h3>Date of the Meal: {{ meal.date }}</h3>
                {% if meal.notes %}
                    <p>{{ meal.notes }}</p>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'calendar_user:meal-update' meal.pk%}">Edit This Meal</a>
                <a class="btn btn-danger" href="{% url 'calendar_user:index' %}">Back to the Calendar</a>
            </div>
        </div>
    </div>
{% endblock %}
