{% extends 'base-calendar_user.html' %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">Schedule a Meal</div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}

                    <table class="table">
                        <tr>
                            <td>{{ form.title.label_tag }}</td>
                            <td>{{ form.title }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.date.label_tag }}</td>
                            <td>{{ form.date }}</td>
                        </tr>
                        <table class="table">
                            {{ sides.management_form }}

                            {% for form in sides.forms %}
                                {% if forloop.first %}
                                    <thead>
                                        <tr>
                                            {% for field in form.visible_fields %}
                                                <th>{{ field.label|capfirst }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                {% endif %}

                                <tr class="{% cycle row1 row2 %} formset_row-{{ sides.prefix }}">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        <tr>
                            <td>{{ form.notes.label_tag }}</td>
                            <td>{{ form.notes }}</td>
                        </tr>
                    </table>
                    <input class="btn btn-primary" type="submit" value="Submit">
                    <a class="btn btn-danger" href="{% url 'calendar_user:index' %}">Back to the Calendar</a>
                </form>
            </div>
        </div>
    </div>

    {% load static %}
    <script src="{% static 'js/jquery.formsets.js' %}"></script>
    <script type="text/javascript">
        $('.formset_row-{{ sides.prefix }}').formset({
            addText: 'Add Another Side',
            deleteText: 'Remove',
            prefix: '{{ sides.prefix }}',
        });
    </script>
    <script>
        /* Enable "Are you sure you want to leave this page" prompt after user inputs info */
        "use strict";
        (() => {
        const modified_inputs = new Set;
        const defaultValue = "defaultValue";
        // store default values
        addEventListener("beforeinput", (evt) => {
            const target = evt.target;
            if (!(defaultValue in target || defaultValue in target.dataset)) {
                target.dataset[defaultValue] = ("" + (target.value || target.textContent)).trim();
            }
        });
        // detect input modifications
        addEventListener("input", (evt) => {
            const target = evt.target;
            let original;
            if (defaultValue in target) {
                original = target[defaultValue];
            } else {
                original = target.dataset[defaultValue];
            }
            if (original !== ("" + (target.value || target.textContent)).trim()) {
                if (!modified_inputs.has(target)) {
                    modified_inputs.add(target);
                }
            } else if (modified_inputs.has(target)) {
                modified_inputs.delete(target);
            }
        });
        // clear modified inputs upon form submission
        addEventListener("submit", () => {
            modified_inputs.clear();
            // to prevent the warning from happening, it is advisable
            // that you clear your form controls back to their default
            // state with form.reset() after submission
        });
        // warn before closing if any inputs are modified
        addEventListener("beforeunload", (evt) => {
            if (modified_inputs.size) {
                const unsaved_changes_warning = "Changes you made may not be saved.";
                evt.returnValue = unsaved_changes_warning;
                return unsaved_changes_warning;
            }
        });
        })();
    </script>
{% endblock %}