{% extends 'base-grocery.html' %}

{% block content %}
    <h3>Grocery List</h3>
    {% if grocery_list %}
        <ul>
        {% for list in grocery_list %}
            <li>
                <a href="{{ list.get_absolute_url }}">{{ list.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No grocery list's found, dawg</p>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'grocery_list:grocery-list-create' %}">Create a new Grocery List</a>
{% endblock %}